@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1300;1400;1500;1600;1700;1800;1900 & mostrar=intercambiar');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.img_logo{
    display: flex;
    padding-left: 40%;
    
}
.img_vectorpiel{
    width: 60%;
    margin-left: 20%;
    left:auto;

}
.btn-primary {
    background-color:#f0b2d4;
    border: 0;
}
.navbar-nav,
.container-fluid,
.navbar{
    background-color:#f0b2d4;
}
.nav-item,
.nav-link{
    color: black;
}
.nav-item.active a,
.nav-item a:hover,
.nav-link.active a,
.nav-link a:hover{
    background-color: #e7d5df;

}
.bg-rosa,
.c_in{
    background-color:#f0b2d48a;
}
.bg-blanc{
    background-color:rgba(255, 255, 255, 0.315);
    border-radius: 10px;
}
.color-fondo3{
    background-color:#f0b2d4;
}
.color-fondo{
    background-color: #e7d5df;
}
.color-fondo2{
    background-color: #e7d5df;
}
.Redes{
    display: flex;
    justify-content: center;
    background-color: #f0b2d449;
    padding: 20px;

}